<section class="page_topline cs two_color section_padding_top_5 section_padding_bottom_5 table_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-center text-sm-left">
                <p class="divided-content">
                    <span class="medium black">
                        Welcome to Electronics Recycling </span>
                    <a ui-sref="about">How to Find Us</a>
                    <a ng-click="scrollToFooter()">Give Feedback</a>
                </p>
            </div>
            <div class="col-sm-6 text-center text-sm-right">
                <div class="widget widget_search">

                    <form role="search" class="search-form form-inline">
                        <div class="form-group">
                            <label>
                                <input type="search" class="search-field form-control" placeholder="Search Keyword" value="" name="s" title="Search for:">
                            </label>
                        </div>
                        <i ng-click="" class="search-icon fa fa-search"></i>                            
                        <!-- <button type="submit" class="fa search-submit theme_button"></button> -->
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
<div class="page_header_wrapper affix-top-wrapper" style="height: 120px;">
    <header class="page_header ls header-1 section_padding_20 toggle-xs-right affix-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 display_table">
                    <div class="header_left_logo display_table_cell">
                        <a ui-sref="home" class="logo logo_image_and_text">
                            <img src="images/logo.png">
                            <span class="logo_text">
                                WasteManagement
                                <span class="logo_subtext">
                                    System </span>
                            </span>
                        </a>
                    </div>
                    <!-- eof .header_left_logo -->
                    <div class="header_mainmenu display_table_cell text-center">
                        <nav class="mainmenu_wrapper primary-navigation" style="">
                            <ul id="menu-main-menu" class="sf-menu nav-menu nav sf-js-enabled sf-arrows" style="touch-action: pan-y;">
                                <li id="menu-item-126" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7 current_page_item menu-item-126">
                                    <a ui-sref="home">Home</a>
                                </li>
                                <li id="menu-item-129" class="menu-item menu-item-type-post_type_archive menu-item-object-fw-services menu-item-129">
                                    <a ui-sref="services">Services</a>
                                </li>
                                <li id="menu-item-212" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-212">
                                    <a class="sf-with-ul">Industrial Solution</a>
                                    <ul class="sub-menu" style="margin-top: 5px;">
                                        <li id="menu-item-2474" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2474">
                                            <a ui-sref="about">About</a>
                                        </li>
                                        <li id="menu-item-213" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-213">
                                            <a ui-sref="faq">FAQ</a>
                                        </li>
                                        <li id="menu-item-290" class="menu-item menu-item-type-post_type_archive menu-item-object-fw-team menu-item-has-children menu-item-290">
                                            <a ui-sref="team" class="sf-with-ul">Team</a>
                                            <ul class="sub-menu" style="display: none; margin-top: 5px;">
                                                <li id="menu-item-2371" class="menu-item menu-item-type-post_type menu-item-object-fw-team menu-item-2371">
                                                    <a ui-sref="teamMember">Team member</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-294">
                                            <a ui-sref="element">Elements</a>
                                        </li>
                                        <li id="menu-item-421" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-421">
                                            <a ui-sref="typography">Typography</a>
                                        </li>
                                        
                                    </ul>
                                </li>
                                <li id="menu-item-127" ng-hide="true" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127">
                                    <a ui-sref="blog">Industrial Solution</a>
                                </li>
                                <li id="menu-item-266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-266">
                                    <a ui-sref="Csupport">Customer Support</a>
                                </li>
                                <li id="menu-item-229" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-229">
                                    <a ui-sref="myAccount">My Account</a>
                                </li>
                                <li id="menu-item-256" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-256">
                                    <a ui-sref="payBill">Pay My Bill</a>
                                </li>
                            </ul>
                        </nav>
                        <span class="toggle_menu">
                            <span></span>
                        </span>
                    </div>
                </div>
            </div>
            <!--	eof .row-->
        </div>
        <!--	eof .container-->
    </header>
</div>