<footer>
    <section class="ls page_copyright section_padding_15">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="grey">© Copyright 2017 All Rights Reserved</p>
                </div>
            </div>
        </div>
    </section>
</footer>